.hex {
    /* features\custom-colors\common.css: */
    background-color: #855cd6;
    color: #575e75;
    color: #575e75;
    color: #855cd6;
    color: #855cd6;
    color: #7854c0;
    color: #575e75;
    color: #575e75;
    color: #575e75;
    outline-color: #855cd6;
    background-color: #fcfcfc;

    /* features\custom-colors\normalize.min.css: */
    background: #ff0;
    color: #000;

    /* features\custom-colors\splash.css: */
    background-color: #855cd6;
    color: #fff;
    background-color: #fff;
    color: #855cd6;
    background-color: #328554;
    background-color: #ffab1a;
    background-color: #fafafa;
    color: #575e75;
    border: 1px solid #855cd6;
    border: 1px solid #c40;
    border: 1px solid #328554;
    background-color: #855cd6;
    color: #fff;
    color: #fff;
    background-color: #855cd6;
    color: #fff;
    color: #fff;
    color: #fff;
    background-color: #ffab1a;
    background-color: #fff;
    background-color: #ffab1a;
    color: #fff;
    background-color: #855cd6;
    color: #fff;
    color: #fff;
    color: #fff;
    color: #fff;
    background-color: #ffab1a;
    color: #fff;
    background-color: #f2f2f2;
    color: #575e75;
    background: #fafafa url("/svgs/forms/caret.svg") no-repeat right center;
    color: #575e75;
    border: 1px solid #855cd6;
    text-shadow: 0 0 0 #575e75;
    background: #fafafa url("/svgs/forms/caret-hover.svg") no-repeat right;
    background-color: #fff;
    color: #575e75;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    background-color: #fcfcfc;
    background-color: #328554;
    color: #fff;
    background-color: #4d97ff;
    color: #fff;
    background-color: #7854c0;
    color: #fff;
    color: #fff;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    background-color: #b3b3b3;
    color: #575e75;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #575e75;
    background: #fff url("./ajax-loader.gif") center center no-repeat;
    color: #fff;
    color: #000;
    color: #000;
    box-shadow: 0 1px 1px #b3b3b3;
    background-color: #ffab1a;
    color: #fff;
    color: #fff;
    background-color: #c40;
    background-color: #0ebd8c;
    background-color: #fff;
    background-color: #855cd6;
    color: #fff;
    color: #fff;
    background-color: #fff;
    color: #855cd6;
    color: #855cd6;
    color: #575e75;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #96f;
    color: #fff;
    background-color: #fff;
    color: #855cd6;
    background-color: #4d97ff;
    color: #4d97ff;
    background-color: #328554;
    color: #328554;
    background-color: #96f;
    color: #96f;
    border-bottom: 1px solid #d9d9d9;
    color: #575e75;
    color: #855cd6;
    background-color: #24603c;
    color: #fff;
    background-color: #fff;
    color: #24603c;
    color: #fff;
    background-color: #328554;
    background-color: #cf63cf;
    border: 2px solid #328554;
    background-color: #fff;
    border: 2px solid #cf63cf;
    color: #855cd6;
    color: #fff;
    background-color: #fff;
    color: #855cd6;
    background-color: #328554;
    border: 2px solid #328554;
    background-color: #fff;
    color: #855cd6;
    color: #fff;
    background-color: #fff;
    color: #855cd6;
    border-bottom: 1px solid #b3b3b3;
    color: #b3b3b3;
}

.rgb {
    /* features\custom-colors\common.css: */
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(77, 151, 255, 0.1);
    background-color: rgba(244, 157, 37, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(77, 151, 255, 0.1);
    background-color: rgba(77, 151, 255, 0.25);

    /* features\custom-colors\splash.css: */
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.15);
    background-color: rgba(77, 151, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(77, 151, 255, 0.15);
    border: 0.25rem solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(77, 151, 255, 0.1);
    background-color: rgba(77, 151, 255, 0.1);
}
