.hsl {
    color:
    hsl(0, 0%, 0%) = #000
    hsla(0, 0%, 0%, 0) = rgba(0, 0, 0, 0)
    hsla(0, 0%, 0%, 0.2) = rgba(0, 0, 0, 0.2)
    hsla(0, 0%, 0%, 0.25) = rgba(0, 0, 0, 0.25)
    hsla(0, 0%, 0%, 0.15) = rgba(0, 0, 0, 0.15)
    hsla(0, 0%, 0%, 0.1) = rgba(0, 0, 0, 0.1)
    hsl(0, 0%, 70%) = #b3b3b3
    hsl(0, 0%, 85%) = #d9d9d9
    hsl(0, 0%, 95%) = #f2f2f2
    hsl(0, 0%, 98%) = #fafafa
    hsl(0, 0%, 99%) = #fcfcfc
    hsl(0, 0%, 100%) = #fff
    hsla(0, 0%, 100%, 0.75) = rgba(255, 255, 255, 0.75)
    hsla(0, 0%, 100%, 0.15) = rgba(255, 255, 255, 0.15)
    
    hsl(20, 100%, 40%) = #c40
    hsla(35, 90%, 55%, 0.1) = rgba(244, 157, 37, 0.1)
    hsl(38, 100%, 55%) = #ffab1a
    hsl(60, 100%, 50%) = #ff0
    hsl(144, 45%, 26%) = #24603c
    hsl(145, 45%, 36%) = #328554
    hsl(163, 86%, 40%) = #0ebd8c
    hsla(215, 100%, 65%, 0.15) = rgba(77, 151, 255, 0.15)
    hsla(215, 100%, 65%, 0.1) = rgba(77, 151, 255, 0.1)
    hsla(215, 100%, 65%, 0.25) = rgba(77, 151, 255, 0.25)
    hsla(215, 100%, 65%, 0.7) = rgba(77, 151, 255, 0.7)
    hsl(215, 100%, 65%) = #4d97ff
    hsl(226, 15%, 40%) = #575e75
    hsl(260, 60%, 60%) = #855cd6
    hsl(260, 100%, 70%) = #96f
    hsl(300, 53%, 60%) = #cf63cf
    ;
}